# ------------------------------------------------------------------------
# This playbook uses the RHEL Linux System Roles.
# ------------------------------------------------------------------------
# Install directory must contain
#   1.  IMDB_SERVER*SAR file
#   2.  IMDB_*SAR files for all components you wish to install
#   3.  SAPCAR executable

---
- name: Ansible Play for executing SAP HANA install
  hosts: all

  vars:
    sap_hana_install_software_extract_directory: "/tmp/sap_hana_extracted"
    sap_hana_install_cleanup_extract_directory: true
    sap_hana_install_software_directory: "${sap_hana_install_software_directory}"
    sap_hana_install_sid: "${sap_hana_install_sid}"
    sap_hana_install_number: "${sap_hana_install_number}"
    sap_hana_install_master_password: "${sap_hana_install_master_password}"
    sap_hana_install_components: "server"

  tasks:
    - name: Install en_US locale
      ansible.builtin.command: "yum install -y glibc-langpack-en compat-sap-c++-13"

    - name: Include SAP HANA install role
      include_role:
        name: redhat.sap_install.sap_hana_install
