# ------------------------------------------------------------------------
# This playbook uses the ibm.power_linux_sap collection. This collection is
# available on ansible galaxy
# https://galaxy.ansible.com/ui/repo/published/ibm/power_linux_sap/ and can
# be installed using 'ansible-galaxy collection install ibm.power_linux_sap'
# ------------------------------------------------------------------------

---
- name: Ansible Play for preparing OS for SAP
  hosts: all
  vars:
    sap_hana_preconfigure_min_rhel_release_check: false
    sap_hana_preconfigure_ibm_power_repo_url: 'https://public.dhe.ibm.com/software/server/POWER/Linux/yum/download/ibm-power-repo-latest.noarch.rpm'
    sap_solution: ${sap_solution}
    sap_domain: ${sap_domain}

  roles:
   - { role: ibm.power_linux_sap.powervs_configure_os_for_sap, when: sap_solution is defined }

  tasks:
  - name: Reboot the machine with timeout 10 mins
    ansible.builtin.reboot:

  - name: Sleep 3 mins for host to be ready
    ansible.builtin.pause:
      minutes: 3
